<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory</title>

    <link rel="stylesheet" href="/public/static/css/navbar.css">
    <link rel="stylesheet" href="/public/static/css/inventory.css">
    <link rel="stylesheet" href="/public/static/css/commons.css">
    <link rel="stylesheet" href="/public/static/css/viewer.css">
    <link rel="stylesheet" href="/public/static/fontawesome/css/all.min.css">
    <script src="/public/static/fontawesome/js/all.min.js"></script>
    <script src="/public/static/js/navbar.js" defer></script>
    <script src="/public/static/js/inventory.js" defer></script>
    <script src="/public/static/js/viewer.js" defer></script>

</head>

<body>
    <div id="viewer" class="viewerContainer viewerHide">
        <div class="viewer">
            <form id="form" action="/api/products/save" method="post">
                <div class="viewerMenu">
                    <div class="viewerTitle">Product</div>
                    <div class="viewerButton" id="closeButton">
                        <span>
                            <i class="fa-solid fa-xmark"></i>
                        </span>
                    </div>
                </div>

                <input type="hidden" name="id">
                <input type="hidden" name="hash">

                <div class="viewerContents">
                    <div class="viewerContent">
                        <div class="viewerContentTitle">
                            Product Name
                        </div>
                        <div class="viewerContentValue">
                            <input type="text" required name="name">
                        </div>
                    </div>
                    <div class="viewerContent">
                        <div class="viewerContentTitle">
                            Size
                        </div>
                        <div class="viewerContentValue">
                            <input type="text" required name="size">
                        </div>
                    </div>
                    <div class="viewerContent">
                        <div class="viewerContentTitle">
                            Quantity
                        </div>
                        <div class="viewerContentValue">
                            <input type="number" required min="0" name="quantity">
                        </div>
                    </div>
                    <div class="viewerContent">
                        <div class="viewerContentTitle">
                            Per Piece Price
                        </div>
                        <div class="viewerContentValue">
                            <input type="number" required min="0" name="per_piece_price">
                        </div>
                    </div>
                    <div class="viewerContent">
                        <div class="viewerContentTitle">
                            Wholesale Quantity
                        </div>
                        <div class="viewerContentValue">
                            <input type="number" required min="0" name="wholesale_quantity">
                        </div>
                    </div>
                    <div class="viewerContent">
                        <div class="viewerContentTitle">
                            Wholesale Price
                        </div>
                        <div class="viewerContentValue">
                            <input type="number" required min="0" name="wholesale_price">
                        </div>
                    </div>
                </div>

                <div class="viewerActionButtons">
                    <button type="submit" class="viewerActionButton">
                        <i class="fa-solid fa-floppy-disk"></i>
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="navigationContainer">
        <div class="navigationTitleContainer">
            <span id="navigationTitle">Inventory System</span>
        </div>
        <div id="logoutContainer">
            <form method="post" action="/auth/logout" target="_top">
                <a onclick="parentNode.submit()">
                    <i class="fa-solid fa-right-from-bracket"></i>
                </a>
            </form>
        </div>
    </div>

    <div class="navigationMenuContainer">
        <span href="/" class="navigationMenu">Home</span>
        <span href="/inventory" aria-selected="true" class="navigationMenu">Inventory</span>
        <span href="/orders" class="navigationMenu">Orders</span>
        <span href="/settings" class="navigationMenu">Settings</span>
    </div>

    <div class="container">
        <div class="containerTitle">
            Inventory
        </div>

        <div class="containerMenu">
            <span class="actionMenuButton">
                <button type="button" onclick="addProduct()">
                    <span>
                        <i class="fa-solid fa-add"></i>
                    </span>
                    Add Product
                </button>
            </span>
            <form action="/api/products/searchID" method="post" id="searchForm">
                <span>
                    <label for="query">Search: </label>
                    <input name="query" autocomplete="off" type="search" placeholder="Search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </span>
            </form>
        </div>

        <div class="inventoryContainer">
            <div class="inventoryHeader">
                <span class="inventoryItemLabel">#</span>
                <span class="inventoryItemLabel">Name</span>
                <span class="inventoryItemLabel">Size</span>
                <span class="inventoryItemLabel">Quantity</span>
                <span class="inventoryItemLabel">Piece Price</span>
                <span class="inventoryItemLabel">Wholesale Quantity</span>
                <span class="inventoryItemLabel">Wholesale Price</span>
                <span class="inventoryItemLabel">Actions</span>
            </div>
            <div class="inventoryItems">

            </div>
        </div>

    </div>

</body>

</html>