:root {
    --text-color: rgb(22, 51, 105);
    --accent-color: rgb(47, 123, 255);
    --main-background-color: rgb(44, 195, 255);
    --form-background-color: rgba(190, 228, 255, 0.719);
    --shadow-color: rgba(0, 0, 0, 0.089);
    --border-color: rgb(164, 166, 189);
}

html {
    height: 100%;
}

body {
    height: 100%;
    padding: 0;
    margin: auto;
    align-content: center;
    text-align: center;
    background: url(/public/static/assets/images/milad-fakurian-iFu2HILEng8-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


* {
    box-sizing: border-box;
}

#formContainer {
    display: inline-block;
    width: 25rem;
    height: auto;
    align-content: center;
    background: var(--form-background-color);
    backdrop-filter: blur(10px) brightness(130%);
    border-radius: 15px;
    padding: 1.5rem;
    box-shadow: var(--shadow-color) 0 0 10px 5px;
    font-family: 'Trebuchet MS';
}

#loginLabel {
    padding-left: 0.7rem;
    text-align: left;
    color: var(--text-color);
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    vertical-align: middle;
    text-transform: capitalize;
    border-bottom: 1px solid;
}

#loginLabel>span:first-child {
    font-size: xx-large;
}

#loginLabel>span:last-child {
    font-size: x-large;
    line-height: 100%;
    width: 100%;
}

#inputsContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    height: 13rem;
}

.inputContainer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    padding: 0.75rem;
    cursor: text;
    transition: box-shadow 50ms ease-in-out;
}


.inputContainer>span {
    color: var(--text-color);
}


.inputContainer>span:nth-child(1) {
    padding-right: 0.4rem;
    border-right: 1px solid var(--border-color);
}

.inputContainer>input {
    background: none;
    border: none;
    font-size: 16spt;
    width: 100%;
    height: 100%;
    margin-left: 0.2rem;
}

.inputContainer>input:focus {
    outline: none;
}

.inputContainer:focus-within {
    box-shadow: 0 0 0 2px var(--accent-color);
}

.inputContainer:focus-within>span:first-child {
    color: var(--accent-color);
}

#showHideButton {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    width: 1.5rem;
}

#submitButtonContainer {
    margin-top: 1rem;
    padding-top: 1rem;
}

#submitButtonContainer>#submitButton {
    background: none;
    border-radius: 1rem;
    color: var(--text-color);
    border: 3px solid var(--text-color);
    width: 100%;
    font-size: large;
    padding: 0.5rem;
    transition: color 100ms ease-in-out, border 100ms ease-in-out;
    font-family: 'Trebuchet MS';
}

#submitButtonContainer>#submitButton:hover {
    color: var(--text-color);
    border: 3px solid var(--accent-color);
}

#submitButtonContainer>#submitButton:disabled {
    color: var(--border-color);
    border: 3px solid var(--border-color);
}

.infoContainer {
    text-align: left;
    font-size: small;
    padding: 0.5rem 0 1rem 0;
    margin-top: -0.2rem;
}

.infoContainer>span>span:first-child {
    font-size: medium;
}

.info {
    display: inline-block;
    width: 100%;
    line-height: 100%;
    vertical-align: middle;
}